.header {
    padding: 10px 2.5%;
    background-color: #0b0022;
    color: white;
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px
}

.search{
    border: 2px solid #f91;
    border-radius: 10px;
    height: 35px;
}

.star{
    width: 50px;
}

.cart{
    position: relative;
}
.cart img {
    width: 40px;
}
.cart span{
    font-size: 25px;
    width: 40px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 15px;
}

